[Unit]
Description=My Application Service
After=cloud-init.target
Wants=cloud-init.target

 
[Service]
Type=simple
User=csye6225
Group=csye6225

ExecStart=/usr/bin/node /home/admin/webapp/app1.js
EnvironmentFile=/home/admin/webapp/.env
Restart=on-always

ExecStart=/usr/bin/node /home/admin/webapp/app1.js
EnvironmentFile=/home/admin/webapp/.env
Restart=on-always
RestartSec=3
 
 
[Install]
WantedBy=cloud-init.target